@import "/src/styles/variables";

::-webkit-scrollbar {
  display: none;
}

.tasks {
  max-width: 50rem;
  width: 90%;
  margin: 5rem auto;

  .taskCard {
    height: 550px;
  }

  .taskContent {
    display: flex;
    justify-content: center;
  }
}
