$bg-color: #e5e5e5;
$primary-color: #1b91fb;
$input-color: #f3f3fc;
$bg-category: #f5fbff;
$bg-uncategorized: #dcdce6;
$color_black: #000;
$color_white: #fff;
$warning-color: #ca3e51;
$hover-color: #0971cb;
