@import "/src/styles/variables";
.homeCard {
  @include cardHeight;

  .homeContent {
    @include flexbox;
    flex-direction: column;
    height: 100%;

    p {
      font-size: 24px;
      margin-top: 25px;
    }
    a {
      margin-left: 5px;
    }

    .actions:hover,
    .actions:active {
      a {
        color: $hover-color;
      }
      .plusIcon {
        color: $hover-color;
      }
    }
  }
}
