@import "/src/styles/variables";

.loading {
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;

  .loader {
    border: 8px solid $bg-color;
    border-top: 8px solid $primary-color;
    margin: 2rem auto;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes meals-appear {
    from {
      opacity: 0;
      transform: translateY(3rem);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
