@import "/src/styles/variables";

.card-content {
  max-width: 50rem;
  width: 90%;
  margin: 5rem auto;

  .newTaskCard {
    height: 550px;

    .header {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .title {
      text-align: center;
      width: 100%;
    }
  }
}
