@import "/src/styles/variables";

form {
  margin: 5.3rem 0;

  label {
    display: block;
    width: 60%;
    margin: 2rem auto 0;
    text-align: left;
  }

  input {
    margin: 0.5rem auto;
    display: block;
    width: 60%;
    border: 1px solid #ccc;
    padding: 0.7rem;
    margin-bottom: 0.5rem;
    border-radius: 1rem;
    background: $input-color;
  }

  .submitButton {
    margin: 1.5rem 0.5rem;
  }
  .cancelButton {
    margin: 1.5rem 0.5rem;
    background-color: $color_white;
    color: $color-black;
    border: none;
  }

  .invalid p {
    width: 60%;
    margin: 0.5rem auto;
    text-align: left;
    font-size: 0.8rem;
    color: $warning-color;
  }

  .invalid input {
    border-color: #aa0b20;
    background-color: #ffeff1;
    margin-bottom: 0;
  }
}
